{% extends "base-dashboard.html" %}

{% load staticfiles %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block nav %}
    <ul class="nav">
        <li class="active">
            <a href="{% url 'accommodation:dashboard' %}">
                <i class="ti-panel"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="{% url 'accommodation:rooms_list' %}">
                <i class="glyphicon glyphicon-home"></i>
                <p>My Rooms</p>
            </a>
        </li>
        <li>
            <a href="{% url 'accommodation:requests_list' %}">
                <i class="glyphicon glyphicon-list"></i>
                <p>My Requests</p>
            </a>
        </li>
        <li>
            <a href="{% url 'accommodation:responses_list' %}">
                <i class="glyphicon glyphicon-bookmark"></i>
                <p>My responses</p>
            </a>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <a href="{% url 'profiles:home' %}">
                <i class="glyphicon glyphicon-home"></i>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="{% url 'profiles:get_profile' user.get_username %}">
                <i class="glyphicon glyphicon-user"></i>
                <p>Profile</p>
            </a>
        </li>
        <li>
            <a href="{% url 'profiles:logout' %}">
                <i class="glyphicon glyphicon-log-out"></i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="glyphicon glyphicon-home"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Rooms</p>
                                4
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="glyphicon glyphicon-check"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Requests</p>
                                3
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Users</p>
                                8
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <h3 class="text-center text-danger" style="font-family: 'Muli', 'Helvetica', Arial, sans-serif"><i class="glyphicon glyphicon-home"></i>&nbsp; Welcome to TempoHome, </h3>
                    <h4 class="text-center" style="font-weight: lighter">Temporary home for long-lasting friends!</h4>
                    <img class="img-rounded" src="{% static 'images/friends.jpeg' %}" alt="friends" width="350"
                         style="display: block; margin: 50px auto 40px;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
