{% extends "base-dashboard.html" %}

{% load staticfiles %}

{% block title %}
    <title>Rooms</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Requests</h4>
                    <p class="category">Received Requests</p>
                </div>
                <div class="content">
                    {% if request_list %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Address</th>
                                    <th>Guest</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Comments</th>
                                </thead>
                                <tbody>
                                    {% for request in request_list %}
                                        <tr>
                                            <td class="col-md-4">
                                                <div class="col-md-3">
                                                    {% if request.status == 'P' %}
                                                        <div class="img-circle status-red" data-toggle="tooltip" title="Pending">8</div>
                                                    {% else %}
                                                        <div class="img-circle status-green" data-toggle="tooltip" title="Approved">8</div>
                                                    {% endif %}

                                                    <a class="btn-link" href="{% url 'accommodation:request_edit' request.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
                                                </div>
                                                <div class="col-md-9">
                                                    {{ request.room.address }}
                                                </div>
                                            </td>
                                            <td class="col-md-2">
                                                <a class="text-left" href="{% url 'profiles:get_profile' request.user %}"><i class="glyphicon glyphicon-user"></i> &nbsp; {{ request.user }}</a>
                                            </td>
                                            <td class="col-md-1">{{ request.start_date|date:"d/m/y" }}</td>
                                            <td class="col-md-1">{{ request.end_date|date:"d/m/y" }}</td>
                                            <td class="col-md-4">{{ request.comments }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>There are no received requests.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
