{% extends "base-dashboard.html" %}

{% load staticfiles %}

{% block title %}
    <title>Requests</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Requests</h4>
                    <p class="category">Update Request</p>
                </div>
                <div class="content">
                    <div class="form">
                        <form class="form-horizontal" method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-6 col-md-push-3">
                                    {{ form.as_p }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <a type="button" class="btn btn-default pull-right" href="{% url 'accommodation:rooms_list' %}" style="margin-left: 10px"> Cancel </a>
                                    <button type="submit" class="btn btn-primary pull-right"> Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}