{% extends "base-dashboard.html" %}

{% load staticfiles %}

{% block title %}
    <title>Rooms</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Responses</h4>
                    <p class="category">Received Responses</p>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th>Address</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Comments</th>
                            </thead>
                            <tbody>
                                {% for response in responses %}
                                    <tr>
                                        <td class="col-md-4">
                                            <div class="col-md-3">
                                                {% if response.status == 'P' %}
                                                    <div class="img-circle status-red" data-toggle="tooltip" title="Pending">8</div>
                                                {% else %}
                                                    <div class="img-circle status-green" data-toggle="tooltip" title="Approved">8</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-9">
                                                {{ response.room.address }}
                                            </div>
                                        </td>
                                        <td class="col-md-1">{{ response.start_date|date:"d/m/y" }}</td>
                                        <td class="col-md-1">{{ response.end_date|date:"d/m/y" }}</td>
                                        <td class="col-md-4">{{ response.comments }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
