<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %} {% endblock %}

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css' %}">
	<!-- Easy Responsive Tabs -->
	<link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block styles %} {% endblock %}
</head>
<body>

    {% block content %} {% endblock %}

    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Superfish -->
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.js' %}"></script>
    <!-- Easy Responsive Tabs -->
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    {% block scripts %} {% endblock %}

</body>
</html>