{% extends "base-dashboard.html" %}

{% load staticfiles %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block styles %}
    <style>
        /**
         * Profile image component
         */
        .profile-header-container{
            margin: 0 auto;
        }

        .profile-header-img {
            padding: 84px 54px 10px;
        }

        .profile-header-img > img.img-circle {
            width: 210px;
            height: 210px;
            border: 3px solid #d75d30;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-header-container">
                                        <div class="profile-header-img">
                                            <img class="img-circle" src="{{ user.profile.picture.url }}" >
                                        </div>
                                        <h3 class="text-center"><strong>{{ user.get_full_name }}</strong></h3>
                                        <p class="text-center">{{ user.username }}</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5>Contact info</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control border-input" disabled value="{{ user.profile.phone_number }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" class="form-control border-input" disabled value="{{ user.email }}">
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <h5>Other relevant info</h5>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <input type="text" class="form-control border-input" disabled value="{{ user.profile.get_gender_display }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nationality</label>
                                                <input type="text" class="form-control border-input" disabled value="{{ user.profile.nationality }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Passport Number</label>
                                                <input type="text" class="form-control border-input" disabled value="{{ user.profile.passport_number }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Passport File</label>
                                                <br>
                                                <a class="btn-link btn-block text-danger" href="{{ user.profile.passport_file.url }}" target="_blank">Open file</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="4" class="form-control border-input">{{ user.profile.description }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a type="button" class="btn btn-primary pull-right" href="{% url 'accommodation:requests_list' %}"> Back </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
