{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    <title>Sign up</title>
{% endblock %}

{% block styles %}
    <!-- Auth Style -->
	<link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style>
        .login-container {
            width: 90%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="row">
            <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="logo" width="280">
            <h3 class="text-center">Create a New Account</h3>
            <p class="text-center">Come and join TempoHome community!. Let's set up your account. Already have one? <a href="{% url 'profiles:login' %}"> &nbsp; Log in here</a></p>
        </div>

        <div class="form-box">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    {% for field in user_form %}
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                                <label class="control-label col-sm-4" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                    <small class="text-danger"> {{ field.errors }} </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for field in profile_form %}
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                                <label class="control-label col-sm-4" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                    <small class="text-danger"> {{ field.errors }} </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <a type="button" class="btn btn-default pull-right" href="{% url 'profiles:home' %}"> Cancel </a>
                    <button type="submit" class="btn btn-primary pull-right"> Sign up </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}